/* style.css */
/*Cleaning up the CSS, import and choosing the font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  font-weight: 100; /* degree of blackness*/
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

#board {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

/* 1. Titles styles on start screen*/
.titleScreen {
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.titleScreen > h1 {
  font-size: 1.2rem;
  color: rgb(43, 180, 157);
  padding: 1%; 

}
.titleScreen > h2 {
  display: flex;
  font-size: 1.3rem;
  padding: 2%;
  background-color:rgba(211, 201, 201, 0.692);
  font-synthesis: weight;
  box-shadow: 0px 30px 23px grey;
  border-radius: 10%;
  border-color: rgba(52, 164, 184, 0.425);
}

/* Whole class - Start Screen in HTML in second article tag */
.startScreen {
  display: flex;
  height: 40vh;
  flex-direction: column;
  align-items: center;
}




/* class (Inside tag article/div from HTML where ask player nick name) */
/* 
.startScreen > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e9e3e3;
  border-radius: 3%;
  box-shadow: 0px 30px 23px grey;
  
}  */

/* Class startScreen > tag h1 from HTML "Welcome to Jokenpô Game" */

.startScreen { 
  display: flex;
  font-weight: bold;
  /* font-size: 10%; */
  padding: 6%;
  flex-direction: row;
  color: rgb(231, 222, 231);
  box-shadow: rgb(141 138 138) 8px 12px 12px, rgb(255 255 255) 1px -8px 5px;
  align-items: center;
  background-image: url(/assets/meggy.gif);
  background-size: 100%;

  border-radius: 2%;
 
}

/* Id (Inside tag article/div from HTML */
#inputName {
  display: flex;
  border-radius: 10%;
  color:#c5c4c4;
  border-color: rgba(52, 164, 184, 0.425);
  font-size: 1.2rem;
  margin-top: 25%;
  margin-left: 10%;
  padding: 1%;
  box-shadow: 1px 23px 12px #8d8a8a, 1px -8px 5px #ffffff;
}

/* Style button to click to play "btnStart"*/
/* 
#label {
  color: black;
  padding: 5%;
  font-size: 2rem;
  margin-top: 30%;
  margin-left: 45%;
} */

#btnStart {  
  display: flex;
  border-color: rgba(52, 164, 184, 0.425);
  border-radius: 30%;
  padding: 12%;
  font-weight: bold;
  font-size: 100%;
  margin-top: 30%;
  margin-left: 45%;
  background-color:rgba(190, 166, 166, 0.692);
  box-shadow: 0px 30px 23px grey;

}

#btnStart:hover {
  cursor: pointer;
  transform: scale(1.3);
  
}

/* STEP 2 - Game Screen choice style */ 
.choice {
  display: flex;

}
.choice > img {
  background-color:rgb(164, 151, 167); 
  padding: 1.6%; 
  margin: 8%;
  border-radius:27%;
  box-shadow:0 43px 23px rgba(20, 14, 105, 0.4);
}

.choice > img:hover {
  cursor: pointer;
	transform: scale(1.4);
  
}

/* Classe para o evento do click na img */
.choice > img:active {
  cursor: pointer;
	transform: scale(0.6);
}

/* Player name show in Game Screen*/

#gameScore {
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-content: center;
}

#gameScore > p {
  font-size: 1.2rem;
  padding: 1%;
  margin-left: 1%;
  box-shadow: 8px 8px 5px #bebebe, -8px -8px 5px #ffffff;
}

/* Game results in Game Screen */

#gameScore > p1 {
  font-size: 1.2rem;
  padding: 1%;
  margin-left: 1%;
  box-shadow: 8px 8px 5px #bebebe, -8px -8px 5px #ffffff;
}


#gameScore > p2 {
  font-size: 1.2rem;
  padding: 1%;
  margin-left: 1%;
  box-shadow: 8px 8px 5px #bebebe, -8px -8px 5px #ffffff;
}
#gameScore > p3 {
  font-size: 1.2rem;
  padding: 1%;
  margin-left: 1%;
  box-shadow: 8px 8px 5px #bebebe, -8px -8px 5px #ffffff;
}

#gameScore > p4 {
  font-size: 1.2rem;
  padding: 1%;
  margin-left: 1%;
  box-shadow: 8px 8px 5px #bebebe, -8px -8px 5px #ffffff;
}

#gameScore > p5 {
  font-size: 1.2rem;
  padding: 1%;
  margin-left: 1%;
  box-shadow: 8px 8px 5px #bebebe, -8px -8px 5px #ffffff;
}
#gameScore > p6 {
  font-size: 1.2rem;
  padding: 1%;
  margin-left: 1%;
  box-shadow: 8px 8px 5px #bebebe, -8px -8px 5px #ffffff;
}
/* mostra o elemento html */
.show {
  display: block;
}

/* esconde o element html */
.hide {
  display: none !important;
}