/* style.css */
/*Cleaning up the CSS, import and choosing the font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  font-weight: 100; /* degree of blackness*/
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

#board {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

/* 1. Titles styles on start screen*/
.titleScreen {
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.titleScreen > h1 {
  font-size: 1.2rem;
  color: rgb(43, 180, 157);
  padding: 30px; 

}
.titleScreen > h2 {
  font-size: 2.5rem;
  padding: 10px;
  font-synthesis: weight;
  box-shadow: 1px 13px 7px #bebebe, -8px -8px 5px #ffffff;
  border-radius: 13px;
}

/* Whole class - Start Screen in HTML in second article tag */
.startScreen {
  display: flex;
  /* height: 50vh; */
  gap: 10%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Class startScreen > tag h1 from HTML "Welcome to Jokenpô Game" */
.startScreen > h1 { 
  font-size: 140%;
  padding:5%;
  align-items: center;
  text-align: auto;
 
}

/* class (Inside tag article/div from HTML where ask player nick name) */
.startScreen > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  border-radius: 18px;
  background: #e0e0e0;
  box-shadow: 8px 8px 5px #bebebe, -8px -8px 5px #ffffff;
  padding: 8%;
}

/* Id (Inside tag article/div from HTML */
#inputName {
  width: 50vw;
  border-radius: 10%;
  border-color:whitesmoke;
}

/* Style button to click to play "btnStart"*/
#btnStart {  
  border-color: grey;
  border-radius: 20%;
  padding:1.8%; 
  box-shadow: 0px 8px 5px #836161;

}

#btnStart:hover {
  cursor: pointer;
  transform: scale(1.2);
  
}

/* STEP 2 - Game Screen choice style */ 
.choice {
  display: flex;
}
.choice > img {
  background-color:rgb(164, 151, 167); 
  padding: 1%; 
  margin: 10%;
  border-radius:27%;
  box-shadow:0 43px 23px rgba(20, 14, 105, 0.4);
}

.choice > img:hover {
  cursor: pointer;
	transform: scale(1.4);
  
}

/* Classe para o evento do click na img */
.choice > img:active {
  cursor: pointer;
	transform: scale(0.6);
}

#gameScore > p {
  display: block;
  box-shadow: 8px 8px 5px #bebebe, -8px -8px 5px #ffffff;
}
#gameScore > p1{
  display: block;
  box-shadow: 8px 8px 5px #bebebe, -8px -8px 5px #ffffff;
}

/* mostra o elemento html */
.show {
  display: block;
}

/* esconde o element html */
.hide {
  display: none !important;
}