/* style.css */
/*Cleaning up the CSS, import and choosing the font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  font-weight: 100; /* degree of blackness*/
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

#board {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

/* 1. Titles styles on start screen*/
.titleScreen {
  display: flex; 
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.titleScreen > h1 {
  font-size: 1rem;
  color: rgb(43, 180, 157);
  padding: 1%; 

}
.titleScreen > h2 {
  display: flex;
  font-size: 2rem;
  padding: 1%;
  background-color:rgba(211, 201, 201, 0.692);
  font-synthesis: weight;
  box-shadow: 0px 30px 23px grey;
  border-radius: 10%;
  border-color: rgba(52, 164, 184, 0.425);
}

/* Whole class - Start Screen in HTML in second article tag */
.startScreen {
  display: flex;
  flex-direction: column;
  align-items: center;  
  background: url(../assets/jankenpon.webp) no-repeat;
  background-size: 80%;
  background-position: 50%;
  padding: 6%;
 
}

/* class (Inside tag article/div from HTML where ask player nick name) */

.letsPlay {
  display: flex;
  margin-right: 13%;
  color:rgba(16, 74, 77, 0.863);
  font-weight: bold;  
}  

.input {
  display: flex;
  color:rgba(16, 74, 77, 0.863);
  font-weight: bold;
  box-shadow: 0px 10px 23px rgb(228, 230, 228);
  
}

#btnStart {  
  display: flex;
  align-items: center;
  border-color: rgba(52, 164, 184, 0.425);
  border-radius: 30%;
  font-weight: bold;
  background-color:rgba(99, 91, 91, 0.692);
  box-shadow: 0px 10px 23px rgb(228, 230, 228);
  padding: 3%;
}

#btnStart:hover {
  cursor: pointer;
  transform: scale(1.3);
  
}

/* STEP 2 - Game Screen choice style */ 
.choice {
  display: flex;

}
.choice > img {
  background-color:rgb(164, 151, 167); 
  padding: 1.6%; 
  margin: 8%;
  border-radius:27%;
  box-shadow:0 43px 23px rgba(20, 14, 105, 0.4);
}

.choice > img:hover {
  cursor: pointer;
	transform: scale(1.4);
  
}

/* Classe para o evento do click na img */
.choice > img:active {
  cursor: pointer;
	transform: scale(0.6);
}

/* Player name show in Game Screen*/

#gameScore {
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-content: center;
  margin-left: 1%;
}

#gameScore > h1 {
  font-size: 1.2rem;
  padding: 1%;
  margin:auto;
 
}

.result {
  display: block;
  font-size: 2rem;
  margin: 3%;
  margin-left: 1%;
  background-color:rgb(216, 210, 218); 
  box-shadow: 8px 8px 5px #bebebe, -8px -8px 5px #ffffff;
}
.scores {
  display: flex;
  font-size: 1rem;
  margin-left: 5%;
  margin-right: 5%;
  background-color:rgb(216, 210, 218); 
  box-shadow: 8px 8px 5px #bebebe, -8px -8px 5px #ffffff;
}

/* Game results in Game Screen */



/* mostra o elemento html */
.show {
  display: block;
}

/* esconde o element html */
.hide {
  display: none !important;
}